* {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
}
.head {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  font-size: 1.2rem;
}
.head i {
  font-size: 2rem;
  font-weight: 400;
}
.option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  flex-wrap: nowrap;
  font-size: 120%;
  margin-top: -1.87rem;
}
.botton {
  display: flex;
  flex-wrap: nowrap;
  border: 2px solid white;
  padding: 0.5rem;
  margin-top: 1rem;
  text-align: center;
  border-radius: 1rem;
  width: 301px;
  
}
.botton i {
  margin-right: 1rem;
  margin-left: .5rem;
}
.input1 {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 1rem;
  margin: -1rem;
  font-size: 1rem;
}
.input {
  
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 1rem;
  margin: 0.5rem;
  font-size: 1rem;
  width: 301px;
  border-radius: 1rem;
  border: 2px soild black;
}
#submit {
  background-color: rgb(76, 230, 62);
  color: black;
  font-size: larger;
  font-weight: 700;
}
.footer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-top: -0.2rem;
  line-height: 1.3rem;
}
.footer > #one {
  text-decoration: none;
}


.footer a:hover {
  scale: 1.1;
}
.input1 .input:hover {
  box-shadow: 0 0 0.2rem white;
}
.option .botton:hover {
  box-shadow: 0 0 0.5rem white;
}
